html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

#root {
  min-height: 100%;
}

.no-overflow-x {
  overflow-x: hidden;
}

.description {
  white-space: pre-wrap; /* Preserves whitespace and line breaks */
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
